.progress-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: justify;
    text-align: left;
    object-fit: cover;
    position: fixed;
    top: 80px;
    width: 100px;
    height: 470px;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(90deg, #dc14ee, #7c047c);
    border: 1px solid #520076;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    left: 0;
    margin-top: 30px;
}

#JC {
    font-size: 12px;
    color: #fa7305;
}

body {
    background-image: url('./public/ondagravit.gif');
    background-attachment: fixed;
    background-size: cover;
}
